[submodule "child-child1"]
	path = ctti-child1
	url = https://github.com/jmanuelbr/ctti-child1.git
	branch = main
	shallow = true
[submodule "ctti-child2"]
	path = ctti-child2
	url = https://github.com/jmanuelbr/ctti-child2.git
	branch = main
	shallow = true
[submodule "ctti-global"]
	path = ctti-global
	url = https://github.com/jmanuelbr/ctti-global.git
	branch = main
	shallow = true
